
<h1> <%= @user.firstname %> <%= @user.location %> </h1>
<ul>
	<% @user.groups.each do |group| %>
		<li>
				<%= image_tag group.avatar.url(:thumb) %> <br />
				<%= link_to group.name, group %>
		</li>
	<% end %>
</ul>