<li>
<%= form_tag(@game_suggestion) do |f| %>
	<%= text_field_tag :game, '', data: {autocomplete_source: @group.games.order(:name).map(&:name)}  %>
	<%= hidden_field_tag :event_id, @event.id %>
<% end %>
</li>