<h1><strong> Game Night Planner</strong> </h1>

<p> 
	<strong>Taking the work out of play</strong>
	<p>
		Planning and coordinating your game nights has never been easier. Decide on which games to play, invite others players, and make sure someone is bringing the chips and salsa.
	</p>
</p>

<%= link_to "Sign Up", new_user_url %>